.alpheios-panel-opened.alpheios-panel-left {
    padding-left: 70%;
}

.alpheios-panel-opened.alpheios-panel-right {
    padding-right: 70%;
}

.alpheios-panel {
    display: none;
    width: 70%;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    background: #FFF;
}

.alpheios-panel-left .alpheios-panel {
    left: -70%;
}

.alpheios-panel-right .alpheios-panel {
    right: -70%;
}

.alpheios-panel-left .alpheios-panel.opened {
    display: block;
    left: 0;
}

.alpheios-panel-right .alpheios-panel.opened {
    display: block;
    right: 0;
}

.alpheios-panel.full-width {
    display: block;
    width: 100%;
    left: 0;
}

.alpheios-panel__header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0 10px 20px;
}

.alpheios-panel__header-title {
    flex-grow: 1;
}

.alpheios-panel__header-logo {
    margin-top: -1px;
}

.auk .uk-icon.alpheios-panel__header-action-btn {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.alpheios-panel__header-action-btn:hover {
    fill: #FFF;
}

.alpheios-panel__body {
    display: flex;
    height: 100%;
}

.alpheios-panel-left .alpheios-panel__body {
    flex-direction: row;
}

.alpheios-panel-right .alpheios-panel__body {
    flex-direction: row-reverse;
}

.alpheios-panel__content {
    flex-grow: 1;
    overflow-x: scroll;
    overflow-y: auto;
    padding: 10px 20px 100px;
}

.alpheios-panel__nav {
    width: 60px;
}

.auk .uk-icon.alpheios-panel__nav-btn {
    cursor: pointer;
    margin: 20px 10px;
}

.auk .uk-icon.alpheios-panel__header-action-btn.hidden {
    display: none;
}