$alpheios-panel-header-height: 60px;

.alpheios-panel {
    display: none;
    width: 400px; // Initial width
    height: 100vh;
    top: 0;
    z-index: 2000;
    position: fixed;
    background: #FFF;
    resize: both;
    opacity: 0.95;
}

.alpheios-panel-left .alpheios-panel.opened {
    display: block;
    left: 0;
}

.alpheios-panel-right .alpheios-panel.opened {
    display: block;
    right: 0;
}

.alpheios-panel.full-width {
    display: block;
    width: 100%;
    left: 0;
}

.alpheios-panel__header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    height: $alpheios-panel-header-height;
    padding: 10px;
    box-sizing: border-box;
}

.alpheios-panel-right .alpheios-panel__header {
    direction: ltr;
    padding: 10px 0 10px 20px;
}

.alpheios-panel-right .alpheios-panel__header {
    direction: rtl;
    padding: 10px 20px 10px 0;
}


.alpheios-panel__header-title {
    flex-grow: 1;
}

.alpheios-panel__header-logo {
    margin-top: -1px;
}

.auk .uk-icon.alpheios-panel__header-action-btn {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.alpheios-panel__header-action-btn:hover {
    fill: #FFF;
}

.alpheios-panel__body {
    display: flex;
    height: calc(100vh - #{$alpheios-panel-header-height});
}

.alpheios-panel-left .alpheios-panel__body {
    flex-direction: row;
}

.alpheios-panel-right .alpheios-panel__body {
    flex-direction: row-reverse;
}

.alpheios-panel__content {
    flex-grow: 1;
    direction: ltr;
    overflow: auto;
    padding: 10px 20px 100px;
}

.alpheios-panel__nav {
    width: 60px;
}

.auk .uk-icon.alpheios-panel__nav-btn {
    cursor: pointer;
    margin: 20px 10px;
}

.auk .uk-icon.alpheios-panel__header-action-btn.hidden {
    display: none;
}
