/* region Panel styles */
.alpheios-panel-open.alpheios-panel-left {
    padding-left: 70%;
}

.alpheios-panel-open.alpheios-panel-right {
    padding-right: 70%;
}

.alpheios-panel {
    display: block;
    width: 70%;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    background: #FFF;
}

.alpheios-panel-left .alpheios-panel {
    left: -70%;
}

.alpheios-panel-right .alpheios-panel {
    right: -70%;
}

.alpheios-panel-left .alpheios-panel.open {
    left: 0;
}

.alpheios-panel-right .alpheios-panel.open {
    right: 0;
}

.alpheios-panel.open-fw {
    width: 100%;
    left: 0;
}

.alpheios-panel__header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 20px;
    height: 65px;
}

.alpheios-panel__header-title {
    flex-grow: 1;
}

.alpheios-panel__header-buttons-cont {

}

.auk .uk-icon.alpheios-panel__header-action-btn {
    display: block;
    margin: 20px;
    cursor: pointer;
}

.alpheios-panel__header-action-btn:hover {
    fill: #FFF;
}

.alpheios-panel__body {
    display: flex;
    height: 100%;
}

.alpheios-panel-left .alpheios-panel__body {
    flex-direction: row;
}

.alpheios-panel-right .alpheios-panel__body {
    flex-direction: row-reverse;
}

.alpheios-panel__content {
    width: calc(100% - 80px);
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 10px 20px 100px;
}

.alpheios-panel__nav {
    width: 80px;
}

.auk .uk-icon.alpheios-panel__nav-btn {
    cursor: pointer;
    margin: 20px;
}

/* endregion Panel styles */