.auk .uk-icon-button.alpheios-page-controls__panel-toggle {
    color: $alpheios-link-color;
    background-color: $alpheios-logo-color;
}

.auk .uk-icon-button.alpheios-page-controls__panel-toggle:hover,
.auk .uk-icon-button.alpheios-page-controls__panel-toggle:focus {
    color: $alpheios-link-hover-color;
}