<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>alpheios.auth0.com</string>
	<key>ClientId</key>
	<string>195sTj9kAWKGQ1e6yF3FvXGe1bnV6pp8</string>
</dict>
</plist>
