<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Alpheios Reading Tools</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4.1</string>
	<key>CFBundleVersion</key>
	<string>i342-rollback-ff.20211204350</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>content-safari.js</string>
			</dict>
		</array>
		<key>SFSafariContextMenu</key>
		<array>
			<dict>
				<key>Command</key>
				<string>Activate</string>
				<key>Text</key>
				<string>Activate Alpheios Reading Tools</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>Deactivate</string>
				<key>Text</key>
				<string>Deactivate Alpheios Reading Tools</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>ShowInfo</string>
				<key>Text</key>
				<string>About Alpheios Reading Tools</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>Disabled</string>
				<key>Text</key>
				<string>(Alpheios Reading Tools Disabled)</string>
			</dict>
		</array>
		<key>SFSafariStyleSheet</key>
		<array>
			<dict>
				<key>Style Sheet</key>
				<string>style-components-safari.css</string>
			</dict>
		</array>
		<key>SFSafariToolbarItem</key>
		<dict>
			<key>Action</key>
			<string>Command</string>
			<key>Identifier</key>
			<string>Button</string>
			<key>Image</key>
			<string>alpheios.pdf</string>
			<key>Label</key>
			<string>Activate Alpheios Reading Tools</string>
		</dict>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 The Alpheios Project. All rights reserved.</string>
	<key>NSHumanReadableDescription</key>
	<string>Activates access to reading tools at double-click on any Latin, Ancient Greek, Classical Arabic or Persian word.</string>
</dict>
</plist>
