<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sign up URL (testing)</key>
	<string>https://texts-test.alpheios.net/signup_safari</string>
	<key>Sign up URL (production)</key>
	<string>https://texts.alpheios.net/signup_safari</string>
	<key>User account tutorial URL</key>
	<string>https://alpheios.net/pages/tutorials#safari-user-account</string>
</dict>
</plist>
